<footer class="footer bg-footer-color">
	<div class="container">
	  <span class="text-muted footer-content">
		  <p align="center" class="footer-content">
		  	<%= link_to("Facebook 粉絲團", "https://www.facebook.com/2017%E8%B3%87%E8%A8%8A%E4%B9%8B%E5%A4%9C-%E5%8D%88%E5%A4%9C%E5%A4%A2%E8%BF%B4-390769774648470/") =%>
		  	|
		  	<%= link_to("NTUCSIE 首頁", "https://www.csie.org/") =%>
		  	<br>
		    Copyright &copy; CSIENIGHT 2018
		  </p>

	  </span>
	</div>
</footer>