<footer class="container">
  <p class="float-right"> 
    <a href="#top">Back to top</a>  
  </p>
  <p>
    Copyright &copy; CSIENIGHT 2018 &middot;
    <a href="https://www.facebook.com/2017%E8%B3%87%E8%A8%8A%E4%B9%8B%E5%A4%9C-%E5%8D%88%E5%A4%9C%E5%A4%A2%E8%BF%B4-390769774648470/" target="_blank">Facebook</a>
  &middot;
    <a href="https://www.csie.ntu.edu.tw/" target="_blank">NTUCSIE</a>  
  </p>
</footer>