<footer class="footer bg-footer-color">
	<div class="footer-content">
	  <span class="text-muted">
	    Copyright &copy; CSIENIGHT 2018 台大資訊工程學系 - 資訊之夜學術部  保留一切權利<br>
	    Web Designed and Developed By CSIE NIGHT 學術部
	  </span>
	</div>
</footer>