<div class="evt_container">
  <section id="evt_about" class="content-section evt_scroll-section" id="about">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4"
            data-scroll="toggle(.fromRightIn, .fromRightOut)"><a id="evt_about" class="anchor" href="#evt_about" aria-hidden="true"><span aria-hidden="true"></span></a>
          About
        </h1>
        <p class="lead"
           data-scroll="toggle(.fromLeftIn, .fromLeftOut)">如果有雙看不見的眼睛，要怎麼分辨夢境與現實呢？</p>
        <hr class="my-4">
        <p data-scroll="toggle(.fromLeftIn, .fromLeftOut)">在此</p>   
        <p data-scroll="toggle(.fromLeftIn, .fromLeftOut)">時間並不如預想平滑</p>    
        <p data-scroll="toggle(.fromLeftIn, .fromLeftOut)">凝滯地繃緊在空間末梢</p>   
        <p data-scroll="toggle(.fromLeftIn, .fromLeftOut)">緩慢遲疑的步伐</p>    
        <p data-scroll="toggle(.fromLeftIn, .fromLeftOut)">帶點好奇的餘韻</p>    
        <p data-scroll="toggle(.fromLeftIn, .fromLeftOut)">擾動、擠壓著空間</p>   
        <p data-scroll="toggle(.fromLeftIn, .fromLeftOut)">終於</p>   
        <p data-scroll="toggle(.fromLeftIn, .fromLeftOut)">如樹枝狀綻開的裂痕</p>
        <p data-scroll="toggle(.fromLeftIn, .fromLeftOut)">突破緊繃的外殼</p>
        <p data-scroll="toggle(.fromLeftIn, .fromLeftOut)">時間開始流動</p>
        <p data-scroll="toggle(.fromLeftIn, .fromLeftOut)">音樂、舞步</p>
        <p data-scroll="toggle(.fromLeftIn, .fromLeftOut)">歡迎著誤入的訪客</p>
        <p data-scroll="toggle(.fromLeftIn, .fromLeftOut)">為記不起的心煩事感到心煩</p>
        <p data-scroll="toggle(.fromLeftIn, .fromLeftOut)">為早已忘卻的鮮豔色彩感到動心</p>
        <p data-scroll="toggle(.fromLeftIn, .fromLeftOut)">情緒隨之愈發高昂</p>
        <hr class="my-4">
        <p class="lead"
           data-scroll="toggle(.fromLeftIn, .fromLeftOut)">或許正因為看不見，才能更加透徹地體會夢境吧</p>
      </div>
    </div>
</section>
  <div class="evt_tabpanel">
    <div id="music" class="evt_scroll-section">
      <h2><a id="music" class="anchor" href="#music" aria-hidden="true"><span aria-hidden="true"></span></a>
        歌
      </h2>
    </div>
    <%= render partial: "partials/event", locals: { events: @music_events, type: "music" } %>
    
    <div id="drama" class="evt_scroll-section">
      <h2><a id="drama" class="anchor" href="#drama" aria-hidden="true"><span aria-hidden="true"></span></a>
        劇
      </h2>
    </div>
    <%= render partial: "partials/event", locals: { events: @drama_events, type: "drama" } %>
   
    <div id="light" class="evt_scroll-section">
      <h2><a id="light" class="anchor" href="#light" aria-hidden="true"><span aria-hidden="true"></span></a>
        光
      </h2>
    </div>
    <%= render partial: "partials/event", locals: { events: @light_events, type: "light" } %>
    
    <div id="dance" class="evt_scroll-section">
      <h2><a id="dance" class="anchor" href="#dance" aria-hidden="true"><span aria-hidden="true"></span></a>
        舞
      </h2>
    </div>
    <%= render partial: "partials/event", locals: { events: @dance_events, type: "dance" } %>

  </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.0/jquery.waypoints.min.js"></script>
<script>
(function ($) {
  $(function () {
    $('.evt_scroll-section').scrollIndicatorBullets({
      titleSelector: 'h1,h2,h3'
    });
  });
})(jQuery);
</script>

