<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" data-toggle="tab" href="#nav-music" role="tab" aria-controls="nav-music" aria-selected="true">歌</a>
    <a class="nav-item nav-link" data-toggle="tab" href="#nav-drama" role="tab" aria-controls="nav-drama" aria-selected="false">劇</a>
    <a class="nav-item nav-link" data-toggle="tab" href="#nav-light" role="tab" aria-controls="nav-light" aria-selected="false">光</a>
    <a class="nav-item nav-link" data-toggle="tab" href="#nav-dance" role="tab" aria-controls="nav-dance" aria-selected="false">舞</a>
  </div>
</nav>

<div class="tab-content" id="nav-tabContent">
  <%= render partial: "partials/event", locals: { events: @music_events, type: "music" } %>
  <%= render partial: "partials/event", locals: { events: @drama_events, type: "drama" } %>
  <%= render partial: "partials/event", locals: { events: @light_events, type: "light" } %>
  <%= render partial: "partials/event", locals: { events: @dance_events, type: "dance" } %>
</div>
