<!-- HEADER -->
	<header id="header" class="text-center text-info">
		<h1>The Sponsors</h1>
		<h4>Thanks for the Sponsors!</h4>
	</header>
<!-- MAIN -->
	<div class="container">
		<% @sponsors.each_with_index do |sponsor, index| %>
			<% if index % 2 == 0 %>
				<div class="row">
			<% else %>
				<div class="col-lg-1"></div>
			<% end %>
				<div class="card col-lg col-sm-12 rounded p-3 mt-4 bg-white style="width: 18rem;">
					<!-- image -->
        			<%= image_tag(sponsor.picture.to_s, class: "card-img-top", alt: "Card img cap")%>
					<div class="card-body bg-light border border-dark rounded">
						<h5 class="card-title"><%= sponsor.name %></h5>
						<p class="card-text"><%= sponsor.body %></p>
						<% if sponsor.fanpagelink? %>
						<%= link_to "More",sponsor.fanpagelink,:class => "sponsor-btn sponsor-btn-primary" %>
						<% end %>

						<!-- reserved for href button -->
					</div>
				</div>

			<% if index % 2 == 1 %>
				</div>
			<% end %>
		<% end %>
	</div>

	
	