<header class="masthead text-center" id="top">
  <div class="col-md-5 p-lg-5 mx-auto my-5"
 data-scroll="toggle(.scaleDownIn, .scaleDownOut)">
    <h1 class="display-4 font-weight-normal">mo shíorghrá</h1>
    <h3 class="display-4 font-weight-normal">
      <em>Night of CSIE</em>
    </h3>
    <a class="btn btn-outline-secondary" href="#about">More</a>
  </div>
  <div class="overlay"></div>
</header>
<!-- About -->
<section class="content-section" id="about">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4"
          data-scroll="toggle(.fromRightIn, .fromRightOut)">About</h1>
      <p class="lead"
         data-scroll="toggle(.fromLeftIn, .fromLeftOut)">如果有雙看不見的眼睛，要怎麼分辨夢境與現實呢？</p>
      <hr class="my-4">
      <p data-scroll="toggle(.fromLeftIn, .fromLeftOut)">在此</p>   
      <p data-scroll="toggle(.fromLeftIn, .fromLeftOut)">時間並不如預想平滑</p>    
      <p data-scroll="toggle(.fromLeftIn, .fromLeftOut)">凝滯地繃緊在空間末梢</p>   
      <p data-scroll="toggle(.fromLeftIn, .fromLeftOut)">緩慢遲疑的步伐</p>    
      <p data-scroll="toggle(.fromLeftIn, .fromLeftOut)">帶點好奇的餘韻</p>    
      <p data-scroll="toggle(.fromLeftIn, .fromLeftOut)">擾動、擠壓著空間</p>   
      <p data-scroll="toggle(.fromLeftIn, .fromLeftOut)">終於</p>   
      <p data-scroll="toggle(.fromLeftIn, .fromLeftOut)">如樹枝狀綻開的裂痕</p>
      <p data-scroll="toggle(.fromLeftIn, .fromLeftOut)">突破緊繃的外殼</p>
      <p data-scroll="toggle(.fromLeftIn, .fromLeftOut)">時間開始流動</p>
      <p data-scroll="toggle(.fromLeftIn, .fromLeftOut)">音樂、舞步</p>
      <p data-scroll="toggle(.fromLeftIn, .fromLeftOut)">歡迎著誤入的訪客</p>
      <p data-scroll="toggle(.fromLeftIn, .fromLeftOut)">為記不起的心煩事感到心煩</p>
      <p data-scroll="toggle(.fromLeftIn, .fromLeftOut)">為早已忘卻的鮮豔色彩感到動心</p>
      <p data-scroll="toggle(.fromLeftIn, .fromLeftOut)">情緒隨之愈發高昂</p>
      <hr class="my-4">
      <p class="lead"
         data-scroll="toggle(.fromLeftIn, .fromLeftOut)">或許正因為看不見，才能更加透徹地體會夢境吧</p>
    </div>
  </div>
</section>

    <!-- Performance -->
<section class="content-section" id="performance">
  <div class="container">
    <h1 class="display-4 text-center"
      data-scroll="toggle(.fromTopIn, .fromTopOut)"
      id="performance-title">Performance
    </h1>
    <div class="row no-gutters">

      <div class="col-lg-6">
        <%= link_to(events_path(anchor: "music"), class: "portfolio-item", :data => { :reload => true } ) do %>
            <span class="caption">
              <span class="caption-content">
                <!-- Song-->
                <img src="img/performance/white-song.png" alt="">
                <p class="mb-0">大一民謠|大二民謠|大三民謠|大四民謠|阿卡貝拉</p>
              </span>
            </span>
            <img class="img-fluid" src="img/performance/img-song.jpg" alt="">

        <% end %>
      </div>

      <div class="col-lg-6">
        <%= link_to(events_path(anchor: "dance"), class: "portfolio-item", :data => { :reload => true } ) do %>
          <span class="caption">
            <span class="caption-content">
              <!-- Dance-->
              <img src="img/performance/white-dance.png" alt="">
              <p class="mb-0">男舞|女舞|大一舞|老人舞</p>
            </span>
          </span>
          <img class="img-fluid" src="img/performance/img-dance.jpg" alt="">
        <% end %>
      </div>

      <div class="col-lg-6">
        <%= link_to(events_path(anchor: "drama"), class: "portfolio-item", :data => { :reload => true } ) do %>
          <span class="caption">
            <span class="caption-content">
              <!-- Drama-->
              <img src="img/performance/white-drama.png" alt="">
              <p class="mb-0">大一劇|串場劇</p>
            </span>
          </span>
          <img class="img-fluid" src="img/performance/img-drama.jpg" alt="">
        <% end %>
      </div>

      <div class="col-lg-6">
        <%= link_to(events_path(anchor: "light"), class: "portfolio-item", :data => { :reload => true } ) do %>
          <span class="caption">
            <span class="caption-content">
              <!-- Light-->
              <img src="img/performance/white-light.png" alt="">
              <p class="mb-0">螢光舞</p>
            </span>
          </span>
          <img class="img-fluid" src="img/performance/img-light.jpg" alt="">
        <% end %>
      </div>
    </div>
  </div>
</section>

<!-- Schedule -->
<section class="content-section" id="schedule">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4 text-center"
          data-scroll="toggle(.fromTopIn, .fromTopOut)">Schedule
      </h1>
    </div>
    <div class="container">
      <div class="row">
        <table class="table lead">
          <thead>
      <tr>
        <th colspan="2" class="mid-col" data-scroll="toggle(.fromLeftIn, .fromLeftOut)">上半場</th>
      </tr>
          </thead>
          <tbody>
      <tr data-scroll="toggle(.fromLeftIn, .fromLeftOut)">
        <td>大一民謠</td>
        <td class="right-col">18:00-18:25</td>
      </tr>
      <tr data-scroll="toggle(.fromLeftIn, .fromLeftOut)">
        <td>女舞</td>
        <td class="right-col">18:30-18:38</td>
      </tr>
      <tr data-scroll="toggle(.fromLeftIn, .fromLeftOut)">
        <td>阿卡貝拉</td>
        <td class="right-col">18:40-18:50</td>
      </tr>
      <tr data-scroll="toggle(.fromLeftIn, .fromLeftOut)">
        <td>大一舞</td>
        <td class="right-col">18:52-19:00</td>
      </tr>
      <tr data-scroll="toggle(.fromLeftIn, .fromLeftOut)">
        <td>大二劇</td>
        <td class="right-col">19:05-19:40</td>
      </tr>
      <tr data-scroll="toggle(.fromLeftIn, .fromLeftOut)">
        <td>大三民謠</td>
        <td class="right-col">19:45-20:05</td>
      </tr>
          </tbody>
        </table>
        <table class="table lead">
          <thead>
      <tr>
        <th colspan="2" class="mid-col"
            data-scroll="toggle(.fromRightIn, .fromRightOut)">下半場</th>
      </tr>
          </thead>
          <tbody>
      <tr data-scroll="toggle(.fromRightIn, .fromRightOut)">
        <td>大四民謠</td>
        <td class="right-col">20:15-20:40</td>
      </tr>
      <tr data-scroll="toggle(.fromRightIn, .fromRightOut)">
        <td>男舞</td>
        <td class="right-col">20:45-20:55</td>
      </tr>
      <tr data-scroll="toggle(.fromRightIn, .fromRightOut)">
        <td>大一劇</td>
        <td class="right-col">20:55-21:30</td>
      </tr>
      <tr data-scroll="toggle(.fromRightIn, .fromRightOut)">
        <td>大二民謠</td>
        <td class="right-col">21:40-22:05</td>
      </tr>
      <tr data-scroll="toggle(.fromRightIn, .fromRightOut)">
        <td>老人舞</td>
        <td class="right-col">22:06-22:10</td>
      </tr>
      <tr data-scroll="toggle(.fromRightIn, .fromRightOut)">
        <td>螢光舞</td>
        <td class="right-col">22:10-22:20</td>
      </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>