default: &default
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  adapter: postgresql
  encoding: unicode
  timeout: 5000
  username: [your_pg_username]
  password: [your_pg_user_password]
  host: localhost


development:
  <<: *default
  database: 2018CSIENight_development

test:
  <<: *default
  database: 2018CSIENight_test

production:
  <<: *default
  database: 2018CSIENight_production
  username: csienight
  password: <%= ENV['2018CSIENight_DATABASE_PASSWORD'] %>
