// Place all the styles related to the workers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.large-device .h-20{
	width: 55%;
}
.large-device div.right {
	position: relative;
	padding-top: 3%;
	width: 100%;
	height: 100%;
	/*background-color: green;*/
}
.large-device div.rtop {
	//height: 81.5px;
	/*background-color: red;*/
	//border-style: solid;
}
.large-device div.rbtm {
	//position: absolute;
	//top: 81.5px;
	//bottom: 0;
	width: 100%;
	//background-color: orange;
}
.large-device div.outer {
	position: relative;
	width: 100%;
	height: 100%;
	display: table;
}
.large-device div.content {
	//display: table-cell;
//	vertical-align: middle;
}
.large-device .mid{
	justify-content: center;
}

.large-device img.department_pic {
	margin-left: auto;
	margin-right: auto; 
	vertical-align: middle;
	width: 100%;
}
.large-device div.pic_wrapper {
}

.large-device img.pic {
	width: 120px;
}
.large-device button.btn {
	//padding: 0px;
	font-size: 1.5em;
}
//.large-device div:nth-of-type(even) .row {
// flex-direction: row-reverse;
//}

.small-device{
	font-size: 30px;
	line-height: 0.5;
}
.small-device .h-20{
	width: 100%;
}
.small-device .card-header{
	font-size: 20px;
	color: #000000;
}
.small-device .collapsed img[src*="IKON.img"] { visibility:hidden; }
.small-device .collapsed .glyphicon,
.small-device .collapsed .rightarrow,
.small-device .downarrow {
	display: inline-block;
}
.small-device .glyphicon,
.small-device .rightarrow,
.small-device .collapsed .downarrow {
	display: none;
}

.small-device #work .card-header{
	background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}
.small-device #show .card-header{
	background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
}
.small-device name{
	font-size: 20px;
}
.small-device .avatar{
	width: 100%;
}
.small-device job{
	font-size: 50px;
	line-height: 240px;
}
.small-device adj{
	font-size: 40px;
	line-height: 0px;
}
